.row
  %aside.col-sm-5
    .card
      .card-header
        %h3.card-title= @user.name
      .card-body
        - if @user.image.attached?
          = image_tag @user.image, class: "card-img-top"
      %p
        Introduction：#{@user.introduction}
      - if @user.id == current_user.id
        = link_to 'Edit Profile', edit_user_path, class: 'btn btn-light btn-block'
  .col-sm-7
    - if @user.id == current_user.id
      　
      %p= link_to 'Share Radios?', new_radio_path, class: 'btn btn-md btn-success'
    %ul.nav.nav-tabs.nav-justified.mb-3
      %li.nav-item
        %a{:class => "nav-link #{'active' if current_page?(user_path(@user))}", :href => "#{user_path(@user)}"}
          Radios
          %span.badge.badge-secondary= @count_radios
      %li.nav-item
        %a{:class => "nav-link #{'active' if current_page?(likes_user_path(@user))}", :href => "#{likes_user_path(@user)}"}
          Likes
          %span.badge.badge-secondary= @count_likes
    = render 'radios/radios', radios: @likes
