!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Favorite Radios
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"}
    %script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"}
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.7.2/js/all.js"}
  %body
    = render 'layouts/navbar'
    .container
      = render 'layouts/flash_messages'
      = yield
